<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="primary-background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="tasksArray.length > 0">
          <ng-container *ngFor="let task of tasksArray; let t = index">
            <div class="item-listing" (click)="goTo('job-type',task.id)">
              <div class="job-header">
                <h5>{{task.serialNumber}}</h5>
                <small>
                  <strong>Model</strong>:{{task.modelNumber}}
                </small>
              </div>
              <div class="detail">
                <!-- <div class="item-detail" *ngIf="task.taskDescription">
                <p>
                  {{task.taskDescription}}
                </p>
              </div> -->
                <!-- <div class="item-info">
                <span>
                  <strong>Assigned By</strong>: {{task.assignedByUser.name}}
                </span>
                <span>
                  <strong>Assigned to</strong>: {{task.assignedToUser.name}}
                </span>
              </div>
              <div class="item-info">
                <span>
                  <strong>Estimated Hrs</strong>: {{setTime(task.estimatedHours)}}
                </span>
              </div> -->
                <div class="item-bottom">
                  <div class="item-date">
                    <span>{{setDate(task.taskCompletionDate)}}</span>
                  </div>
                  <div class="tag-div">
                    <span class="tag"
                      [ngClass]="{'completed':task.statusType.typeName == 'Completed','in-progress':task.statusType.typeName == 'In Progress'}">{{task.statusType.typeName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tasksArray.length == 0">
          <ion-text>
            <h5>No Records Found</h5>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-segment (ionChange)="segmentChanged($event)" value="pending" mode="md"
    value="in-progress" mode="md">
    <ion-segment-button value="in-progress">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>In Progress</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>