
.back-button {
    --box-shadow: none;
}
ion-grid.main-grid {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
ion-row {
    width: 100%;
}
ion-col {
    padding: 0;
}
ion-item {
    --min-height: auto;
    --background: transparent;
    --border-width: 0;
    --highlight-background: transparent;
}
ion-col {
    padding: 0;
}
ion-col .item-listing {
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
ion-col .item-listing:last-child {
    margin-bottom: 0;
}
ion-content {
    --padding-top: 10px;
}
.item {
    --min-height: auto;
    --background: transparent;
    --border-width: 0;
    margin-bottom: 10px;
}
.item.border {
    border: 1px solid #ccc;
    border-radius: 4px;
    --inner-border-width: 0;
}
.item:last-child {
    margin-bottom: 0;
}
.item ion-select {
    padding-right: 11px;
}

.item ion-label {
    color: #a0a1a3;
}
.item ion-icon {
    margin: 0;
    color: #d4d4ee;
    width: 22px;
}
.single-border {
    --padding-start: 0;
    border: 0;
    padding-right: 0;
    --inner-padding-end: 0;
    --inner-padding-bottom: 8px;
}
.item.single-border ion-icon {
    color: #21398f;
    width: 33px;
}
.item h5 {
    margin: 0;
    color: #21398f;
}
.inner-item {
    background: #f1f5f8;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
}
.inner-item:last-child {
    margin-bottom: 0px;
}
.item-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
}
.item-detail p {
    margin: 7px 0;
    font-size: 13px;
}
.item-name {
    width: 100%;
}
.item-name h5 {
    margin: 0;
    color: #101010;
    font-weight: bold;
    line-height: normal;
}
.item-name small {
    margin: 0;
    color: #272461;
    font-weight: bold;
    font-style: italic;
}
.action-btn ion-icon {
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 100%;
    margin-right: 8px;
}
.action-btn ion-icon:last-child {
    margin-right: 0;
}
.action-btn ion-icon.edit {
    background: #272461;
}
.action-btn ion-icon.delete {
    background: #fe0002;
}
.item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    flex-direction: column;
}
.item-qa {
    display: flex;
    width: 75px;
    align-items: center;
    justify-content: space-around;
}
.item-qa ion-input {
    border: 1px solid #ccc;
    text-align: center;
    --padding-start: 0;
    margin: 0 6px;
    height: 29px;
    font-size: 14px;
}
.item-qa ion-icon {
    color: #203a91;
}
.item-qa ion-icon.remove {
    color: #fe0002;
}
.item-date {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.item-date span {
    margin-right: 5px;
}
.item-date span:last-child {
    margin-right: 0;
}
.order-list {
    max-height: calc(100vh - 136px);
    overflow: auto;
}
span.tag {
    background: #D1DEFE;
    padding: 4px 5px;
    color: #3459b7;
    margin-right: 5px;
    width: 100px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    position: relative;
}
span.tag:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    right: 0;
}
span.tag.completed {
    background: #43BF57;
    color: #fff;
}
span.tag.completed:after {
    border-top: 9px solid #43BF57;
}
span.tag.in-progress {
    background: #F39530;
    color: #fff;
}
span.tag.in-progress:after {
    border-top: 9px solid  #F39530;   
} 
span.tag:last-child {
    margin-right: 0;
}
p.detail-text {
    margin: 0;
    font-size: 14px;
}
.btn-right {
    float: right;
}

ion-text h5 {
    text-align: center;
}
.item-info {
    display: flex;
    font-size: 13px;
    font-style: italic;
    justify-content: space-between;
    margin-bottom: 10px;
}
.item-info span {
    margin-right: 5px;
}
.item-info span:last-child {
    margin-right: 0;
}
.job-header {
    margin: 0;
    padding: 24px 10px;
    justify-content: space-between;
}
.job-header h5 {
    color: #272461;
    font-size: 100%;
    margin: 0;
    letter-spacing: 1px;
    font-weight: bold;
}
.job-header small strong {
    margin-right: 5px;
}
.detail {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.tag-div {
    position: absolute;
    bottom: 15px;
    right: -9px;
}
ion-footer {
    padding: 0px;
    margin-top: 10px;
}
ion-segment {
    padding: 6px;
    background: #fff;
    height: 65px;
}
ion-segment ion-icon {
    margin: 0px 0 4px 0;
}
ion-label {
    margin: 0;
}
ion-segment-button {
    --color-checked: #272461;
    --indicator-color:   unset;
    border-right: 1px solid #ccc;
    flex: 1;
}
ion-segment-button:last-child {
    border: 0;
}