<ion-item>
  <ion-label>{{text}}</ion-label>
  <ionic-selectable #portComponent [(ngModel)]="input" [isMultiple]="true" [items]="inputArray" [itemValueField]="id"
    [itemTextField]="name" [canClear]="true" (onChange)="getInputs($event)" (onSearch)="searchItems($event)"
    [canSearch]="true" [hasInfiniteScroll]="true" searchPlaceholder="Search"
    (onInfiniteScroll)="getMorePorts($event,'user')">
    <ng-template ionicSelectableValueTemplate let-port="value">
      {{input.length}} items selected
    </ng-template>
    <ng-template ionicSelectableFooterTemplate>
      <ion-toolbar>
        <ion-row>
          <ion-col *ngIf="portComponent.canClear">
            <ion-button ion-button full (click)="clear()" [disabled]="!portComponent.itemsToConfirm.length">
              {{portComponent.clearButtonText}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="toggleItems()">
              {{portComponent.itemsToConfirm.length ? 'Deselect' : 'Select'}}
              All
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="confirm()">
              {{portComponent.confirmButtonText}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ng-template>
  </ionic-selectable>
</ion-item>