<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Job Types</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="primary-background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="tasksArray.length > 0">
          <ng-container *ngFor="let task of tasksArray; let t = index">
            <div class="item-listing" (click)="goTo('task-detail',task)">
              <div class="job-header">
                <h5>{{task.task.serialNumber}}</h5>
                <small>
                  <strong>Model</strong>:{{task.task.modelNumber}}
                </small>
              </div>
              <div class="detail" style="padding: 10px;">
              <!-- <div class="item-detail">
                <p  *ngIf="task.taskDescription">
                  {{task.taskDescription}}
                </p>
              </div> -->
              <div class="item-bottom">
                <div class="item-date">
                  <span>{{setDate(task.task.taskCompletionDate)}}</span>
                </div>
                <div class="tag-div">
                  <span class="tag">{{task.jobCategory.categoryName}}</span>
                </div>
              </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tasksArray.length == 0">
          <ion-text>
            <h5>No Records Found</h5>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>