
<ion-content class="primary-background">
  <ion-grid class="login-area">
    <ion-row class="full">
      <ion-col class="main-col">
        <div class="logo-area">
          <img src="assets/images/logo.png"/>
        </div>
        <div class="login-text">
          <h3>Welcome back!</h3>
          <small>Login to your account</small>
        </div>
        <div class="item border field">
          <div class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <ion-input [(ngModel)]="email" placeholder="Username" type="email" clearInput></ion-input>
        </div>
        <div class="item border field">
          <div class="icon">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password" clearInput></ion-input>
        </div>
        <ion-item class="item" class="login-btn" lines="none">
          <ion-button (click)="login()" size="larg">
            Sign In
          </ion-button>
        </ion-item>
        <ng-container *ngIf="global.fingerPrintData"> 
          <ion-item class="item or-text no-border">
            <span>or</span> 
          </ion-item>
          <ion-item class="item no-border">
            <ion-icon class="finger-print-icon" name="finger-print" (click)="loginWithFingerPrint()"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
