.order-list {
    max-height: 320px;
    overflow: auto;
}
.menu-icon {
    width: 21px;
}
ion-item {
    --min-height: auto;
    --background: transparent;
    --border-width: 0;
    --highlight-background: transparent;
}
ion-col.main-col {
    padding: 0;
    margin: 0px auto;
    position: relative;
    z-index: 10;
    max-width: 333px;
    width: 100%;
}
.full {
    width: 100%;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}
.item {
    --min-height: auto;
    --background: transparent;
    --border-width: 0;
    margin-bottom: 10px;
}
.item.border {
    border-radius: 4px;
    --border-width: 0px;
    background: #f1f1f1;
    --inner-border-width: 0;
}
.item:last-child {
    margin-bottom: 0;
}
.item ion-select {
    padding-right: 11px;
}

.item ion-label {
    color: #a0a1a3;
    margin: 0;
    font-size: 12px;
    margin-right: 3px;
}
.item ion-icon {
    margin: 0;
    color: #fff;
    min-width: 50px;
}
.single-border {
    --padding-start: 0;
    border: 0;
    padding-right: 0;
    --inner-padding-end: 0;
    --inner-padding-bottom: 8px;
}
.align-center ion-icon {
    margin: 19px auto 0;
}
p.amount {
    font-weight: bold;
    color: #000;
}
p.amount span {
    color: #203a91;
}
.edit {
    background: #fff;
    color: #203a91;
    padding: 6px;
    border-radius: 100%;
}
.login-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-text {
    --padding-start: 0;
    --inner-padding-bottom: 0;
    --padding-bottom: 0;
    --inner-border-width: 0;
    margin-bottom: 23px;
    text-align: center;
    color: #9e9e9e;
    flex-direction: column;
    display: flex;
}
.login-text h3 {
    margin: 0 0 8px;
    width: 100%;
    color: #494949;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
}
.login-text small {
    color: #494949;
}
.login-btn {
    --padding-start: 0;
    --inner-padding-end: 0;
    overflow: visible;
}
.login-btn ion-button {
    z-index: 100;
    --border-radius: 100px;
    --background: #203a91;
    margin: 0 auto;
    width: 139px;
}
ion-select::part(icon) {
    display: none;
}
.primary-background {
    --background: #ffffff;
    color: #fff;
}
.logo-area {
    width: 100%;
    z-index: 10;
}
.logo-area img {
    margin: 0 auto 19px;
    display: block;
}
p.signup-text {
    margin: 0;
    color: #ccc;
    font-size: 12px;
    width: 100%;
}
p.signup-text a {
    color: #203a91;
}
.item.no-border {
    --inner-border-width: 0;
}
.or-text {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.or-text span {
    font-size: 1.3rem;
    background: #fff;
    padding: 0 10px;
    margin: 11px auto 16px;
    color: #203a91;
}
.or-text:before {
    content: "";
    width: 32%;
    position: absolute;
    height: 2px;
    background: #efefef;
    top: 47%;
}
.finger-print-icon {
    margin: 0 auto !important;
    font-size: 48px;
    color: #5f5fbb !important;
}
.item.border.field ion-input {
    font-size: 12px;
    font-weight: bold;
    --padding-start: 25%;
}
.item.border.field {
    background: #ffffff;  
    box-shadow: 0px 0px 6px 0px #c5c5c5;
    border-radius: 100px;
    margin: 33px 0;
    padding: 4px 0 4px 0;
    position: relative;
}
.item.border.field:focus-within , .item.border.field:focus-within .icon {
    box-shadow: 0px 0px 6px 0px #203a91;   
}
.field .icon {
    position: absolute;
    background: #fff;
    z-index: 10;
    height: 60px;
    width: 60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px #c5c5c5;
    border-radius: 100%;
    top: -9px;
}
.field .icon ion-icon { 
    font-size: 23px;
    color: #272461;
}
