<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width:1440px)">
    <ion-menu swipeGesture="false" contentId="main-content" type="overlay">
      <ion-content>
        <div class="profile-info">
          <span *ngIf="global.user && (global.user.picture == null || !global.user.picture) ? true : true"
            style="background-image: url('assets/images/avatar.jpg');" class="profile-img"></span>
          <span *ngIf="global.user && global.user.picture != null ? false : false" [style.background-image]="style"
            class="profile-img"></span>
          <div class="profile-text">
            <p>{{global.user? global.user.fullName : ''}}</p>
            <!-- <small>{{global.user? global.user.emailAddress : ''}}</small> -->
          </div>
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle *ngIf="fingerprintAvailable == true">
            <ion-item lines="none">
              <ion-icon name="finger-print" slot="start"></ion-icon>
              <ion-label>Enable Fingerprint</ion-label>
              <ion-toggle slot="end" [(ngModel)]="fingerPrintEnabled" [checked]="fingerPrintEnabled"
                (ionChange)="configureFingerPrint()">
              </ion-toggle>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" (click)="goTo(p.url)" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [name]="p.icon" [src]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logOut()" lines="none" detail="false">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-text>
            <h6>Version: {{appVersion}}</h6>
          </ion-text>
        </ion-grid>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>