<ion-header>
  <ion-toolbar mode="ios">
    <ion-button class="back-button" slot="start" (click)="closeModal('header')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Edit Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="primary-background">
  <ion-grid class="main-grid">
    <ion-row>
      <ion-col>
        <ion-item class="field">
          <ion-label position="floating">Number</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Title</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Customer</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Manager</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Start Date</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Completion Date</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="field">
          <ion-label readonly position="floating">Status</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item> 
        <div class="btn full">
          <ion-button class="submit-btn close" (click)="closeModal('header')" size="small">Close</ion-button>
          <ion-button class="submit-btn">Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
