.field {
    display: flex;
    align-items: center;
    padding: 0;
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #fff;
    color: #000000;
    margin-bottom: 12px;
    position: relative;
    --border-width: 0;
    --inner-border-width: 0;
    overflow: visible;
    --border-radius: 0;
    border: 1px solid #cacaca;
    --background: transparent;
    --min-height: 36px;
}
.field.phone-no {
    padding: 3.5px 0;
}
.field:focus-within {
    border: 2px solid #272461;
    color: #272461;
    --highlight-color-valid: transparent;
    --highlight-color-focused: transparent;
}
.header-text h4 {
    text-align: center;
    margin: 11px 0 23px 0;
    font-size: 27px;
    font-weight: bold;
}
.submit-btn {
    --background: #272461;
    width: 45%;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    --border-radius: 8px;
}
.submit-btn.close {
    --background: #800405;
}
.btn {
    display: flex;
    justify-content: space-between;
}