<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>List of job</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="primary-background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="jobsArray.length > 0">
          <ng-container *ngFor="let job of jobsArray; let j=index">
            <div class="item-listing">
              <div class="item-detail">
                <div class="item-name">
                  <h5>
                    {{job.jobTitle}}
                  </h5>
                  <small>
                    <strong>Job Model</strong>:{{job.jobModel.modelNumber}}
                  </small>
                </div>
                <!-- <div class="action-btn">
                <ion-icon class="edit" (click)="addItem()" name="pencil"></ion-icon>
                <ion-icon class="delete" name="trash-sharp"></ion-icon>
              </div> -->
              </div>
              <div class="item-info">
                <span>
                  <strong>Customer</strong>: {{job.customer.customerName}}
                </span>
                <span>
                  <strong>Manager</strong>: {{job.manager.name}}
                </span>
              </div>
              <div class="item-info">
                <span>
                  <strong>Start Date</strong>: {{setDate(job.startDate)}}
                </span>
                <span>
                  <strong>Completion Date</strong>: {{setDate(job.completionDate)}}
                </span>
              </div>
              <div class="item-bottom">
                <div class="item-date">
                  <!-- <span><u>{{setDate(job.startDate)}}</u> - <u>{{setDate(job.completionDate)}}</u></span> -->
                </div>
                <div class="tag-div">
                  <span class="tag">{{job.statusType.typeName}}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="jobsArray.length == 0">
          <ion-text>
            <h5>No Records Found</h5>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>