ion-item {
    width: 100%;
    --background: transparent;
    --inner-border-width: 0;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: auto;
    --inner-padding-end: 0;
}
.task-detail h4 {
    margin: 0;
    position: relative;
    line-height: 29px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #272461;
}
.task-detail h4:after {
    content: "";
    width: 39px;
    height: 3px;
    background: #272461;
    position: absolute;
    left: 0;
    bottom: 0;
}
.info-section {
    display: flex;
    flex-wrap: wrap;
}
.inner-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    margin-bottom: 7px;
    color: #272461;
}
.inner-info.tag {
    background: #d4dbf9;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 0;
}
.inner-info ion-icon {
    margin-right: 5px;
    color: #495057;
}
ion-col {
    padding: 0;
}
ion-col .item-listing {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    padding: 3px;
}
ion-col .item-listing:last-child {
    margin-bottom: 0;
}
ion-content {
    --padding-top: 10px;
}
.item.border {
    border: 1px solid #ccc;
    border-radius: 4px;
    --inner-border-width: 0;
}
.item:last-child {
    margin-bottom: 0;
}
.item ion-select {
    padding-right: 11px;
}

.item ion-label {
    color: #a0a1a3;
}
.item ion-icon {
    margin: 0;
    color: #74788d;
    width: 22px;
}
.single-border {
    --padding-start: 0;
    border: 0;
    padding-right: 0;
    --inner-padding-end: 0;
    --inner-padding-bottom: 8px;
}
.item.single-border ion-icon {
    color: #21398f;
    width: 33px;
}
.item h5 {
    margin: 0;
    color: #21398f;
}
.inner-item {
    background: #f1f5f8;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
}
.inner-item:last-child {
    margin-bottom: 0px;
}
.item-detail {
    display: flex;
    justify-content: space-between;
}
.item-name {
    width: 70%;
    padding: 5px;
}
.item-name h5 {
    margin: 0;
    color: #101010;
    font-weight: bold;
    line-height: normal;
    font-size: 90%;
}
.item-name small { 
    margin: 0;
    color: #272461;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 75%;
    width: 100%;
}
.item-name small ion-icon {
    margin-right: 3px;
}
.item-info {
    margin-top: 6px;
    font-size: 57%;
    display: flex;
    justify-content: space-between;
}
.item-info span {
    margin-right: 5px;
}
.item-info span:last-child {
    margin-right: 0px;
}
.total {
    display: flex;
    align-items: center;
    background: #eceef7;
    padding: 3px;
    width: 151px;
    align-items: center;
    justify-content: center;
}
.total span {
    font-size: 90%;
    color: #272461;
    font-weight: bold;
}
.total small {
    font-weight: bold;
}
.back-button {
    --background: transparent;
    --color: #fff;
    --background-activated: transparent;
    --padding-start: 0;
}
ion-toolbar ion-icon, ion-toolbar ion-text {
    color: #272461;
}
ion-footer {
    background: #272461;
}
.timer {
    text-align: center;
}
.timer h1 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
}
ion-footer .action-button ion-icon {
    font-size: 86px;
    color: #fff;
}
p.disc { 
    width: 100%;
    margin: 0;
}
.action-button {
    position: absolute;
    right: 8px;
    top: -30px;
    background: #272461;
    border-radius: 100%;
    z-index: 1000;
}