<ion-header>
    <ion-toolbar mode="ios">
      <!-- <ion-menu-button slot="start"></ion-menu-button> -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/job-type;taskId={{taskId ? taskId : ''}}"></ion-back-button>
      </ion-buttons>
      <ion-title>Jobs Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="primary-background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row *ngIf="taskDetail">
        <ion-item class="task-detail">
          <h4>
            {{taskDetail.task.serialNumber}} 
          </h4>
        </ion-item>
        <ion-item>
          <div class="info-section">
            <!-- <div class="inner-info">
              <ion-icon name="business"></ion-icon>
              <span>{{taskDetail.task.serialNumber}}</span>
            </div> -->
            <!-- <div class="inner-info">
              <ion-icon name="person-circle"></ion-icon>
              <span>{{taskDetail.taskType.task.assignedByUser.name}}</span>
            </div> -->
            <div class="inner-info">
              <ion-icon name="calendar"></ion-icon>
              <span>{{setDate(taskDetail.task.taskCompletionDate)}}</span>
            </div>
            <div class="inner-info tag">
              <span>{{taskDetail.jobCategory.categoryName}}</span>
            </div>
          </div>
        </ion-item>
        <ion-item *ngIf="taskDetail.task.taskDescription">
          <p class="disc">{{taskDetail.task.taskDescription}}</p>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>Activity</h5>
          <ng-container *ngFor="let task of tasksArray; let t=index">
            <div class="item-listing">
              <div class="item-detail">
                <div class="total">
                  <span>
                    {{timeConvert(getTotalHours(task.startTime,task.stopTime))}}
                  </span>
                </div>
                <div class="item-name">
                  <h5>
                    {{setDate(task.startTime)}}
                  </h5>
                  <small>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <span>{{task.creatorUserName}}</span>
                  </small>
                  <div class="item-info">
                    <span>
                      <strong>Started</strong>: {{setTime(task.startTime)}}
                    </span>
                    <span>
                      <strong>Stopped</strong>: {{setTime(task.stopTime)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="tasksArray && tasksArray.length == 0">
            <ion-text>
              <h5>No Record Found</h5>
            </ion-text>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <div class="timer">
        <h1>{{ showTimer}}</h1>
      </div>
    </ion-toolbar>
    <div class="action-button">
      <ion-icon name="play-circle-outline" *ngIf="!this.taskTimer || this.taskTimer == null" (click)="startTask()">
      </ion-icon>
      <ion-icon name="pause-circle-outline" *ngIf="this.taskTimer && this.taskTimer != null" (click)="pauseTimer()">
      </ion-icon>
    </div>
  </ion-footer>