/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 

* {
    font-family: "Poppins", sans-serif !important;
}
body {
    background: #e6e6e6;
}
.white-background {
    background-color: #fff;
}

.align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}
.align-right {
    float: right;
}

.content-background {
    --background: blue;
}
ion-header {
    --background: #272461;
    background: #272461;
    color: #fff;
}
.infinite-loading-text {
    color: #272461 !important;
}
ion-header ion-title {
    color: #fff;
}
.primary-background {
    --background: #e6e6e6;
    background: #e6e6e6;
    color: #495057 ;
}
ion-menu-button {
    color: #fff;
}
ion-content {
    --padding-top: 20px;
    --padding-start: 10px;
    --padding-end: 10px;
}
.header-md::after {
    display: none;
}

ion-back-button {
    --color: #fff;
}

ion-toolbar {
    --padding-start: 10px;
    --padding-end: 10px;
}
.my-custom-class .popover-content {
    width: 90%;
    position: inherit;
}

.back-button {
    --background: transparent;
    --color: #fff;
    --background-activated: transparent;
}
.text-right {
    text-align: right;
}

.transparent-btn {
    --background: transparent;
    --color: #000;
    --box-shadow: none;
    --background-activated: transparent;
}

ion-button{
    text-transform: none;
}
.infinite-scroll-content-md .infinite-loading-text {
    color: #fff;
}
ion-header ion-button.badge-button {
    --padding-end: 9px;
} 
.ionicon-fill-none  {
    fill: #3a5615;
}
.sub-heading {
    margin: 0;
    padding: 9px 9px;
    background: #203a91;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}
.more-button {
    width: 100%;
    --background: transparent;
    --box-shadow: 0px;
    border: 1px solid #203a91;
    color: #203a91;
}
ion-item.more {
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    border-radius: 0;
    --inner-border-width: 0;
}
ion-toolbar {
    --background: transparent;
}
ion-toolbar ion-icon, ion-toolbar ion-text {
    color: #fff;
}
.filter-modal .popover-content.sc-ion-popover-md {
    position: unset;
    z-index: 10;
}
.filter-modal ion-content {
    max-height: 80vh;
    overflow: auto;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
}
.filter-modal .list-md {
    padding-top: 0px;
    padding-bottom: 0px;
}
.filter-modal .popover-wrapper {
    --width: 304px;
}
.options .popover-content.sc-ion-popover-md {
    position: unset;
}