ion-toolbar {
    --background: transparent;
}
ion-title {
    color: #fff;
}
ion-item {
    --min-height: auto;
    --background: transparent;
    --border-width: 0;
    --highlight-background: transparent;
    --inner-border-width: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    overflow: visible;
}
ion-content {
    --padding-top: 12px;
}
ion-col.white-bg {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // box-shadow: 0px 0px 13px 0px #ccc;
}
ion-content {
    --background: #eef1f9;
}
.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
}

.badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
}
.badge-button {
    --background: transparent;
}
.profile-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    background: #fff;
    padding: 10px 19px;
    border-radius: 12px;
    margin-top: 39px;
}
.profile-info span.profile-img {
    width: 86px;
    height: 86px;
    margin-right: 10px;
    border-radius: 100%;
    margin-top: -57px;
    margin-bottom: 12px;
    background-size: cover;
    background-position: 50% 0;
}
.profile-text h5 {
    margin: 0;
}
.profile-text span {
    display: block;
    font-size: 72%;
}
.profile-text small {
    font-weight: bold;
    color: #6b6b6b;
    font-size: 70%;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.time-info {
    display: flex;
    align-items: flex-end;
}
.time-info span {
    background: #fff;
    border-radius: 9px;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-info span h6 {
    margin: 0 0 3px 0;
    color: #203a91;
    font-size: 1em;
}
.time-info span h6 small {
    display: block;
}
.time-info span span {
    font-size: 90%;
    white-space: nowrap;
    font-weight: bold;
    padding: 0;
}
.log-section {
    margin-bottom: 13px;
}
.log-section ion-col ion-icon {
    color: #203a91;
    font-size: 30px;
    margin: 2px auto 2px;
}
.log-section ion-col h5 {
    text-align: center;
    white-space: nowrap;
    font-size: 0.6rem;
    margin: 3px 0 0 0;
    width: 100%;
}
.log-section ion-col {
    margin-right: 13px;
    width: 30%;
    padding: 10px 10px;
}
.log-section ion-col:last-child {
    margin-right: 0px;
}
ion-col.leave-section {
    text-align: left;
}
.leave-detail {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 0;
    overflow: hidden;
}
.leave-detail p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5c3c3;
    padding: 11px;
    flex-direction: column;
    font-weight: bold;
    position: relative;
    font-size: 0.8rem;
}
.leave-detail p strong {
    color: #a5a4a4;
    margin-top: 4px;
}
.leave-detail p:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.leave-detail sub {
    bottom: 0;
    font-weight: normal;
}
.leave-detail ion-button {
    width: 100%;
    --background: transparent;
    color: #000;
    --box-shadow: none;
}
.inner-item {
    background: #d7edfd;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}
.inner-item:last-child {
    margin-bottom: 0px;
}
.item-detail {
    display: flex;
    align-items: center;
}
.item-name {
    width: 84%;
}
.item-name h5 {
    margin: 0;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    float: left;
    width: 100%;
}
.item-name small {
    margin: 0;
    color: #1c3288;
    font-weight: bold;
    font-style: italic;
}
.action-btn {
    display: flex;
    justify-content: space-between;
    width: 14%;
    font-size: 23px;
    align-items: center;
    color: #203a91;
    justify-content: flex-end;
}
.action-btn span {
    margin: 0 5px;
}
.action-btn .delete {
    color: #fe0002;
}

.order-list {
    margin-top: 25px;
    margin-bottom: 8px;
}
.all-notification {
    color: #203a91;
    --background: #fff;
    --box-shadow: none;
    width: 100%;
}
.padding-0 {
    padding: 0;
}
.graph {
    width: 80px;
    position: absolute;
    right: -12px;
    top: 7px;
}
.scroll-section {
    height: 226px;
    --background: transparent;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
}
.leave-detail ion-fab-button {
    --background: transparent;
    --color: #203a91;
    --box-shadow: none;
    margin-bottom: 0;
    animation: arrow-jump 0.5s infinite alternate;
}
.leave-detail ion-fab-button ion-icon {
    font-size: 35px;
}
@keyframes arrow-jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.profile-img > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    // filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}
.config p {
    margin-block-start: 0;
    margin-block-end: 8px;
    float: right;
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
}
.config {
    display: flex;
    justify-content: flex-end;
}
ion-col .item-listing {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    padding: 3px;
}
ion-col .item-listing:last-child {
    margin-bottom: 0;
}
.item-detail {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}
.item-name {
    width: 70%;
    padding: 5px;
}
.item-name h5 {
    margin: 0;
    color: #101010;
    font-weight: bold;
    line-height: normal;
    font-size: 90%;
}
.item-name small { 
    margin: 0;
    color: #272461;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: 75%;
    width: 100%;
    justify-content: space-between;
}
.item-name small ion-icon {
    margin-right: 3px;
}
.item-info {
    margin-top: 6px;
    font-size: 57%;
    display: flex;
    justify-content: space-between;
}
.item-info span {
    margin-right: 5px;
}
.item-info span:last-child {
    margin-right: 0px;
}
.total {
    display: flex;
    align-items: center;
    background: #eceef7;
    padding: 3px;
    width: 151px;
    align-items: center;
    justify-content: center;
}
.total span {
    font-size: 90%;
    color: #272461;
    font-weight: bold;
}
.total small {
    font-weight: bold;
}
span.tag {
    background: #272461;
    padding: 4px 7px;
    color: #fff;
    display: block;   
    text-align: center;
    font-weight: bold;
    position: relative;
}