<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="main">
    <ion-row>
      <ion-col class="padding-0">
        <ion-item>
          <div class="profile-info">
            <div class="user-info">
              <span class="profile-img" style="background-image: url('assets/images/avatar.jpg');">
              </span>
              <!-- <span class="btn btn-primary btn-file bg-primary btn-block" style="padding: 7px 0px;"><span>Change
                </span><input accept=".jpg,.png,.gif,.jpeg" type="file" value=""
                  (change)="onSelectFile($event.target.files)"></span> -->
              <!-- <input type="file" accept=".jpg,.png,.gif,.jpeg" (change)="onSelectFile($event.target.files)"> -->
              <div class="profile-text">
                <h5>{{global.user ? global.user.fullName : ''}}</h5>
                <!-- <span>{{global.user ? global.user.emailAddress : ''}}</span> -->
                <small>{{global.user ? global.user.roleNames[0] : ''}}</small>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="log-section">
      <ion-col class="white-bg" (click)="goTo('dashboard')">
        <ion-item>
          <ion-icon name="home-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <h5>Dashboard</h5>
        </ion-item>
      </ion-col>
      <ion-col class="white-bg" (click)="goTo('tasks')">
        <ion-item>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <h5>Job</h5>
        </ion-item>
      </ion-col>
      <ion-col class="white-bg" (click)="logOut()">
        <ion-item>
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <h5>Log Out</h5>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Current Tasks</h5>
        <ng-container *ngFor="let item of items; let i=index">
          <div class="item-listing" *ngIf="item.taskType.status != 'Completed'"
            (click)="goToTask('task-detail',item.taskType)">
            <div class="item-detail">
              <div class="total">
                <span>
                  {{timeConvert(getTotalHours(item.startTime,item.stopTime))}}
                </span>
              </div>
              <div class="item-name">
                <h5>
                  {{item.taskType.task.serialNumber}}
                </h5>
                <small>
                  <span> {{global.setDate(item.startTime)}}</span>
                  <span class="tag">{{item.taskType.jobCategory.categoryName}}</span>
                </small>
                <div class="item-info">
                  <span>
                    <strong>Started</strong>: {{setTime(item.startTime)}}
                  </span>
                  <span>
                    <strong>Stopped</strong>: {{setTime(item.stopTime)}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!items || (items && items.length == 0)">
          <ion-text>
            <h5 class="align-center">No Activity Yet</h5>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>